<html>


  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="home">
        <mat-icon>home</mat-icon>
      </button>
      <span class="example-spacer"></span>

      <span>Online Store</span>
      <span class="example-spacer"></span>
      <button routerLink="cart" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon  matBadge={{totalItem}}  matBadgeSize="medium" matBadgeColor="warn">shopping_cart_checkout</mat-icon>
      </button>
      <span class="example-spacer2"></span>
      <button mat-icon-button  routerLink="login"  *ngIf="!authenticated" class="example-icon" aria-label="Example icon-button with login icon">
        <mat-icon>login</mat-icon>
      </button>

      <button mat-icon-button  (click)="logout()" routerLink="login"  *ngIf="authenticated" class="example-icon" aria-label="Example icon-button with logout icon">
        <mat-icon>logout</mat-icon>
      </button>

    </mat-toolbar>
  </p>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</html>