
.example-card {
    margin: auto;
    max-width: 400px;
    margin-bottom: 8px;
  }
  
  .example-header-image {
    background-image:linear-gradient();
    background-size: cover;
    background-color: #cccccc;
  }

  p{
    font-size: large;
  }

  button{
    margin: auto;  
}