<mat-card class="example-card" *ngFor="let product of products;" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{product.productname}}</mat-card-title>
    <mat-card-subtitle>{{product.brandname}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-subtitle>{{product.price | currency}}</mat-card-subtitle>
  <mat-card-content>
    <p>
      {{product.productdescription}}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-fab color="primary" (click)="addToCart(product)"  class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>     
  </mat-card-actions>
</mat-card>
