.card{
    margin: auto;
    width: 490px;
    height: 410px;
    text-align: center;
    border-color: white;
}

img{
    margin: auto;
    width: 250px;
    height: 200px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.card-body{
    text-align: center;
    
}

.h5{
    margin: auto;
}

.h4, .h6{
    margin: auto;
}

 .mat-card {
    width: 70%;
    margin: auto;
    font-size: x-large;
    height: auto;
  }
  
.button{
  width: auto;
  margin-left:25%;
  margin-right:25%;
}

td, th {
    width: 25%;
  }

.mat-success {
    background-color: green;
    color: #fff;
}

.card2 {
  margin: auto;
  width: 30%;
}

.mat-card-title, .mat-card-subtitle, p, img{
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: x-large;
}